<section class="about">
  <div class="about__inner">
    <h1 class="about__title">Об авторе</h1>
    <div class="about__wrapper">
      <div class="about__top">
        <div class="about__left">
          <picture>
            <source srcset="img/avatar.jpg" type="image/webp" />
            <img src="img/avatar.jpg" alt="author" />
          </picture>
        </div>

        <div class="about__right">
          <h2 class="about__name">Меня зовут Бердыгалиев Кайрат</h2>

          <p class="about__text">
            Я инженер-проектировщик разделов ЭОМ, СС, ПС ЭС, ЭН. В целом всех
            разделов, если речь так или иначе идет о проектировании
            электрической части. С 2015 года я активно проектирую проекты
            различного уровня сложности: начиная от самых популярных среди
            электриков жилых комплексов, заканчивая сложными объектами –
            производственные цеха, школы и больницы.
          </p>

          <p>
            На протяжении собственной карьеры очень часто сталкиваюсь с
            проблемой обучения новых кадров: молодых студентов, окончивших
            учебные заведения, откровенно никто не хочет учить. Что греха таить
            – у самого не хватает особо времени постоянно что-то объяснять. Так
            и зародилась идея делиться опыт через собственный веб-ресурс.
          </p>
        </div>
      </div>

      <p class="about__text">
        Зачем тратить время объяснять это каждому, если можно одним постом в
        блоге снять все вопросы у большого количество людей. Или просто скинуть
        ссылку на нужный вопрос. Не всем так везет встретиться действительно
        хороших учителей на первых порах. Руки и средства создать личный блог
        дошли лишь в 2022 году. Поэтому у данного сайта две миссии: помочь
        молодому поколению быстрее влиться в профессию, а также этот сайт – моя
        визитка для будущих клиентов.
      </p>
    </div>
    <div class="about-descr">
      <div class="about-descr__inner">
        <span class="about-descr__heading">
          В данный момент в моей команде (включая меня) – 4 человека.
        </span>
        <p class="about-descr__text">
          Мы проектируем проекты различно сложности. <br />
          Почти все разделы, которые есть на сайте – мы проектируем командой
        </p>
      </div>
    </div>
    <div class="about-create">
      <h3 class="about-create__title">Мы проектируем:</h3>
      <ul class="about-create__list">
        <li class="about-create__item">
          <a class="create-item create-item--eom" href="#">
            <span class="create-item__icon"></span>

            ЭОМ. Силовое электрооборудование и электроосвещение</a
          >
        </li>
        <li class="about-create__item">
          <a class="create-item create-item--ss" href="#">
            <span class="create-item__icon"></span>

            СС. Системы связи
          </a>
        </li>
        <li class="about-create__item">
          <a class="create-item create-item--ps" href="">
            <span class="create-item__icon"></span>

            ПС. Пожарная сигнализация
          </a>
        </li>
        <li class="about-create__item">
          <a class="create-item create-item--en" href="#">
            <span class="create-item__icon"></span>
            ЭН. Наружное электроосвещение
          </a>
        </li>
        <li class="about-create__item">
          <a class="create-item create-item--es" href="#">
            <span class="create-item__icon"></span>
            ЭС. Наружные сети электроснабжения
          </a>
        </li>
        <li class="about-create__item">
          <a class="create-item create-item--nss" href="#">
            <span class="create-item__icon"></span>
            НСС. Наружные сети связи
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
