<section class="about">
  <div class="about__inner">
    <h1 class="about__title">Об авторе</h1>
    <div class="about__wrapper">
      <div class="about__top">
        <div class="about__left">
          <picture>
            <source
              srcset="
                https://images.unsplash.com/photo-1519085360753-af0119f7cbe7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fG1hbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60
              "
              type="image/webp"
            />
            <img src="img/author.jpg" alt="author" />
          </picture>
        </div>

        <div class="about__right">
          <h2 class="about__name">Бердыгалиев Кайрат</h2>
          <div class="about__info">
            <span class="about__prof">Инженер-электрик</span>
            <span class="about__spec"
              >Успешно проектирую <br />
              с 2015 года</span
            >
          </div>
          <div class="about__connect">
            <a class="about__phone" href="tel:+77750940108">
              +7 (775) 094 01 08
            </a>
            <a class="about__mail" href="mailto:berdygaliyev@mail.ru">
              berdygaliyev@mail.ru
            </a>
            <span>ежедневно с 9 до 21 часа</span>
          </div>
          <p class="about__text">
            Значимость этих проблем настолько очевидна, что рамки и место
            обучения кадров влечет за собой процесс внедрения и модернизации
            модели развития. Повседневная практика показывает, что дальнейшее
            развитие различных форм деятельности позволяет оценить значение
            модели развития.
          </p>
        </div>
      </div>

      <div class="about__text">
        <p>
          Значимость этих проблем настолько очевидна, что рамки и место обучения
          кадров влечет за собой процесс внедрения и модернизации модели
          развития. Повседневная практика показывает, что дальнейшее развитие
          различных форм деятельности позволяет оценить значение модели
          развития.
        </p>
        <p>
          Идейные соображения высшего порядка, а также постоянный количественный
          рост и сфера нашей активности в значительной степени обуславливает
          создание дальнейших направлений развития. Таким образом начало
          повседневной работы по формированию позиции играет важную роль в
          формировании существенных финансовых и административных условий.
        </p>
      </div>
    </div>
  </div>
</section>
