<section class="cheat-sheets">
  <h2 class="cheat-sheets__title">Шпаргалки</h2>

  <ul class="cheat-sheets__list">
    <li class="cheat-sheets__item">
      <a class="cheat-sheets__link" href="#" download>
        <img width="24" height="24" src="img/pdf.svg" alt="pdf-icon" />
        <span>ГОСТ 31996-2012 Кабельные изделия 0,66, 1 и 3 кВ.pdf</span>
      </a>
    </li>
    <li class="cheat-sheets__item">
      <a class="cheat-sheets__link" href="#" download>
        <img width="24" height="24" src="img/pdf.svg" alt="pdf-icon" />
        <span>Каталог ДиН ВА на силовое электрооборудование.pdf</span>
      </a>
    </li>
    <li class="cheat-sheets__item">
      <a class="cheat-sheets__link" href="#" download>
        <img width="24" height="24" src="img/pdf.svg" alt="pdf-icon" />
        <span
          >Каталог компании ВЭЛС на вводно-распределительные
          устройства.pdf</span
        >
      </a>
    </li>
    <li class="cheat-sheets__item">
      <a class="cheat-sheets__link" href="#" download>
        <img width="24" height="24" src="img/doc.svg" alt="doc-icon" />
        <span>Правила устроства электроустановок ПУЭ РК 2015.doc</span>
      </a>
    </li>
    <li class="cheat-sheets__item">
      <a class="cheat-sheets__link" href="#" download>
        <img width="24" height="24" src="img/pdf.svg" alt="pdf-icon" />
        <span>СП РК 3.02-111-2012 Общеобразовательные учреждения.pdf</span>
      </a>
    </li>
    <li class="cheat-sheets__item">
      <a class="cheat-sheets__link" href="#" download>
        <img width="24" height="24" src="img/doc.svg" alt="doc-icon" />
        <span>
          СП РК 4.04-103-2013 Правила расчета электрических нагрузок городских
          квартир и коттеджей повышенной комофортности.doc
        </span>
      </a>
    </li>
    <li class="cheat-sheets__item">
      <a class="cheat-sheets__link" href="#" download>
        <img width="24" height="24" src="img/pdf.svg" alt="pdf-icon" />
        <span>
          СП РК 4.04-106-2013 Электрооборудование жилых и общественных зданий.
          Правила проектирования.pdf
        </span>
      </a>
    </li>
    <li class="cheat-sheets__item">
      <a class="cheat-sheets__link" href="#" download>
        <img width="24" height="24" src="img/pdf.svg" alt="pdf-icon" />
        <span>Стандарт проектирования компании BI Group.pdf</span>
      </a>
    </li>
  </ul>
</section>
