<section class="cheat-sheets">
  <h2 class="cheat-sheets__title">Шпаргалки</h2>

  <ul class="cheat-sheets__list">
    <li class="cheat-sheets__item">
      <a class="cheat-sheets__link" href="#" download>
        <img width="24" height="24" src="img/xls.svg" alt="xls-icon" />
        <span>Наименование документа.xls</span>
      </a>
    </li>
    <li class="cheat-sheets__item">
      <a class="cheat-sheets__link" href="#" download>
        <img width="24" height="24" src="img/doc.svg" alt="xls-icon" />
        <span>Наименование документа.doc</span>
      </a>
    </li>
    <li class="cheat-sheets__item">
      <a class="cheat-sheets__link" href="#" download>
        <img width="24" height="24" src="img/pdf.svg" alt="xls-icon" />
        <span>Наименование документа.pdf</span>
      </a>
    </li>
    <li class="cheat-sheets__item">
      <a class="cheat-sheets__link" href="#" download>
        <img width="24" height="24" src="img/xls.svg" alt="xls-icon" />
        <span>Наименование документа.xls</span>
      </a>
    </li>
    <li class="cheat-sheets__item">
      <a class="cheat-sheets__link" href="#" download>
        <img width="24" height="24" src="img/doc.svg" alt="xls-icon" />
        <span>Наименование документа.doc</span>
      </a>
    </li>
    <li class="cheat-sheets__item">
      <a class="cheat-sheets__link" href="#" download>
        <img width="24" height="24" src="img/pdf.svg" alt="xls-icon" />
        <span>Наименование документа.pdf</span>
      </a>
    </li>
  </ul>
</section>
