<section class="interesting mb">
  <div class="interesting__wrapper">
    <h2 class="interesting__title">Вам так же может быть интересно</h2>

    <ul class="interesting__list">
      <li class="interesting__item">
        <article class="news-card">
          <a class="news-card__left" href="#">
            <picture>
              <source srcset="img/hero/1.webp" type="image/webp" />
              <img src="img/hero/1.jpg" alt="news" />
            </picture>
          </a>
          <div class="news-card__right">
            <span class="news-card__views">Просмотров: 800</span>
            <h3 class="news-card__title">
              <a href="#">
                Как правильно составить однолинейную схему ВРУ для офисов в
                жилых комплексах
              </a>
            </h3>

            <a class="news-card__more" href="#"> Читать далее</a>
          </div>
        </article>
      </li>
      <li class="interesting__item">
        <article class="news-card">
          <a class="news-card__left" href="#">
            <picture>
              <source srcset="img/hero/1.webp" type="image/webp" />
              <img src="img/hero/1.jpg" alt="news" />
            </picture>
          </a>
          <div class="news-card__right">
            <span class="news-card__views">Просмотров: 800</span>
            <h3 class="news-card__title">
              <a href="#">
                Как правильно составить однолинейную схему ВРУ для офисов в
                жилых комплексах
              </a>
            </h3>

            <a class="news-card__more" href="#"> Читать далее</a>
          </div>
        </article>
      </li>
      <li class="interesting__item">
        <article class="news-card">
          <a class="news-card__left" href="#">
            <picture>
              <source srcset="img/hero/1.webp" type="image/webp" />
              <img src="img/hero/1.jpg" alt="news" />
            </picture>
          </a>
          <div class="news-card__right">
            <span class="news-card__views">Просмотров: 800</span>
            <h3 class="news-card__title">
              <a href="#">
                Как правильно составить однолинейную схему ВРУ для офисов в
                жилых комплексах
              </a>
            </h3>

            <a class="news-card__more" href="#"> Читать далее</a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
