<section class="news">
  <!-- <div class="container"> -->
  <h2 class="visually-hidden">Новости</h2>
  <ul class="news__list">
    <li class="news__item">
      <article class="news-card">
        <a class="news-card__left" href="#">
          <picture>
            <source srcset="img/hero/1.webp" type="image/webp" />
            <img src="img/hero/1.jpg" alt="news" />
          </picture>
        </a>
        <div class="news-card__right">
          <span class="news-card__views">Просмотров: 800</span>
          <h3 class="news-card__title">
            <a href="#">
              Как правильно составить однолинейную схему ВРУ для офисов в жилых
              комплексах
            </a>
          </h3>
          <div class="news-card__text">
            <p>
              Офисы, офисы, офисы – повседневная норма в жилых комплексах.
              Сейчас все магазины, парикмахерские и просто коммерческие
              организации как пирожки скупают помещения на первых этажах...
            </p>
          </div>
          <a class="news-card__more" href="#"> Читать далее</a>
        </div>
      </article>
    </li>
    <li class="news__item">
      <article class="news-card">
        <a class="news-card__left" href="#">
          <picture>
            <source srcset="img/hero/1.webp" type="image/webp" />
            <img src="img/hero/1.jpg" alt="news" />
          </picture>
        </a>
        <div class="news-card__right">
          <span class="news-card__views">Просмотров: 800</span>
          <h3 class="news-card__title">
            <a href="#">
              Как правильно составить однолинейную схему ВРУ для офисов в жилых
              комплексах
            </a>
          </h3>
          <div class="news-card__text">
            <p>
              Офисы, офисы, офисы – повседневная норма в жилых комплексах.
              Сейчас все магазины, парикмахерские и просто коммерческие
              организации как пирожки скупают помещения на первых этажах...
            </p>
          </div>
          <a class="news-card__more" href="#"> Читать далее</a>
        </div>
      </article>
    </li>
    <li class="news__item">
      <article class="news-card">
        <a class="news-card__left" href="#">
          <picture>
            <source srcset="img/hero/1.webp" type="image/webp" />
            <img src="img/hero/1.jpg" alt="news" />
          </picture>
        </a>
        <div class="news-card__right">
          <span class="news-card__views">Просмотров: 800</span>
          <h3 class="news-card__title">
            <a href="#">
              Как правильно составить однолинейную схему ВРУ для офисов в жилых
              комплексах
            </a>
          </h3>
          <div class="news-card__text">
            <p>
              Офисы, офисы, офисы – повседневная норма в жилых комплексах.
              Сейчас все магазины, парикмахерские и просто коммерческие
              организации как пирожки скупают помещения на первых этажах...
            </p>
          </div>
          <a class="news-card__more" href="#"> Читать далее</a>
        </div>
      </article>
    </li>
    <li class="news__item">
      <article class="news-card">
        <a class="news-card__left" href="#">
          <picture>
            <source srcset="img/hero/1.webp" type="image/webp" />
            <img src="img/hero/1.jpg" alt="news" />
          </picture>
        </a>
        <div class="news-card__right">
          <span class="news-card__views">Просмотров: 800</span>
          <h3 class="news-card__title">
            <a href="#">
              Как правильно составить однолинейную схему ВРУ для офисов в жилых
              комплексах
            </a>
          </h3>
          <div class="news-card__text">
            <p>
              Офисы, офисы, офисы – повседневная норма в жилых комплексах.
              Сейчас все магазины, парикмахерские и просто коммерческие
              организации как пирожки скупают помещения на первых этажах...
            </p>
          </div>
          <a class="news-card__more" href="#"> Читать далее</a>
        </div>
      </article>
    </li>
    <li class="news__item">
      <article class="news-card">
        <a class="news-card__left" href="#">
          <picture>
            <source srcset="img/hero/1.webp" type="image/webp" />
            <img src="img/hero/1.jpg" alt="news" />
          </picture>
        </a>
        <div class="news-card__right">
          <span class="news-card__views">Просмотров: 800</span>
          <h3 class="news-card__title">
            <a href="#">
              Как правильно составить однолинейную схему ВРУ для офисов в жилых
              комплексах
            </a>
          </h3>
          <div class="news-card__text">
            <p>
              Офисы, офисы, офисы – повседневная норма в жилых комплексах.
              Сейчас все магазины, парикмахерские и просто коммерческие
              организации как пирожки скупают помещения на первых этажах...
            </p>
          </div>
          <a class="news-card__more" href="#"> Читать далее</a>
        </div>
      </article>
    </li>
    <li class="news__item">
      <article class="news-card">
        <a class="news-card__left" href="#">
          <picture>
            <source srcset="img/hero/1.webp" type="image/webp" />
            <img src="img/hero/1.jpg" alt="news" />
          </picture>
        </a>
        <div class="news-card__right">
          <span class="news-card__views">Просмотров: 800</span>
          <h3 class="news-card__title">
            <a href="#">
              Как правильно составить однолинейную схему ВРУ для офисов в жилых
              комплексах
            </a>
          </h3>
          <div class="news-card__text">
            <p>
              Офисы, офисы, офисы – повседневная норма в жилых комплексах.
              Сейчас все магазины, парикмахерские и просто коммерческие
              организации как пирожки скупают помещения на первых этажах...
            </p>
          </div>
          <a class="news-card__more" href="#"> Читать далее</a>
        </div>
      </article>
    </li>
    <li class="news__item">
      <article class="news-card">
        <a class="news-card__left" href="#">
          <picture>
            <source srcset="img/hero/1.webp" type="image/webp" />
            <img src="img/hero/1.jpg" alt="news" />
          </picture>
        </a>
        <div class="news-card__right">
          <span class="news-card__views">Просмотров: 800</span>
          <h3 class="news-card__title">
            <a href="#">
              Как правильно составить однолинейную схему ВРУ для офисов в жилых
              комплексах
            </a>
          </h3>
          <div class="news-card__text">
            <p>
              Офисы, офисы, офисы – повседневная норма в жилых комплексах.
              Сейчас все магазины, парикмахерские и просто коммерческие
              организации как пирожки скупают помещения на первых этажах...
            </p>
          </div>
          <a class="news-card__more" href="#"> Читать далее</a>
        </div>
      </article>
    </li>
    <li class="news__item">
      <article class="news-card">
        <a class="news-card__left" href="#">
          <picture>
            <source srcset="img/hero/1.webp" type="image/webp" />
            <img src="img/hero/1.jpg" alt="news" />
          </picture>
        </a>
        <div class="news-card__right">
          <span class="news-card__views">Просмотров: 800</span>
          <h3 class="news-card__title">
            <a href="#">
              Как правильно составить однолинейную схему ВРУ для офисов в жилых
              комплексах
            </a>
          </h3>
          <div class="news-card__text">
            <p>
              Офисы, офисы, офисы – повседневная норма в жилых комплексах.
              Сейчас все магазины, парикмахерские и просто коммерческие
              организации как пирожки скупают помещения на первых этажах...
            </p>
          </div>
          <a class="news-card__more" href="#"> Читать далее</a>
        </div>
      </article>
    </li>
  </ul>
  <div class="news__pagination pagination">
    <ul class="pagination__list">
      <li class="pagination__item">
        <a class="pagination__link pagination__link--prev" href="#">
          <svg
            width="8"
            height="14"
            viewBox="0 0 8 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M7.25 0.5L0.75 7L7.25 13.5" stroke="black" />
          </svg>
        </a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link active" href="#">1</a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">2</a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">3</a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">4</a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">...</a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">6</a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link pagination__link--next" href="#">
          <svg
            width="8"
            height="14"
            viewBox="0 0 8 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0.75 0.5L7.25 7L0.75 13.5" stroke="black" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <!-- </div> -->
</section>
