<section class="order order--no-btn">
  <div class="order__inner">
    <div class="order__top">
      <h2 class="order__title">
        Вы также можете заказать проект у автора блога
      </h2>
    </div>
    <form class="form-submit">
      <div class="form-submit__top">
        <div class="form-submit__group">
          <label class="form-submit__label" for="email">Ваш e-mail</label>
          <input
            class="form-submit__input"
            type="email"
            id="email"
            placeholder="Введите адрес вашей электронной почты"
          />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label" for="tel">Телефон</label>
          <input
            class="form-submit__input"
            id="tel"
            type="tel"
            placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _"
          />
        </div>
      </div>

      <button class="form-submit__btn btn" type="submit">
        Заказать проект
      </button>
    </form>
  </div>
</section>
