<section class="portfolio">
  <h2 class="portfolio__title">Портфолио</h2>
  <p class="portfolio__text">
    Значимость этих проблем настолько очевидна, что рамки и место обучения
    кадров влечет за собой процесс внедрения и модернизации модели развития.
    Повседневная практика показывает, что дальнейшее развитие различных форм
    деятельности позволяет оценить значение модели развития.
  </p>
  <ul class="portfolio__list">
    <li class="portfolio__item">
      <picture>
        <source srcset="img/portfolio/1.webp" type="image/webp" />
        <img src="img/portfolio/1.png" alt="portfolio" />
      </picture>
    </li>
    <li class="portfolio__item">
      <picture>
        <source srcset="img/portfolio/2.webp" type="image/webp" />
        <img src="img/portfolio/2.png" alt="portfolio" />
      </picture>
    </li>
    <li class="portfolio__item">
      <picture>
        <source srcset="img/portfolio/3.webp" type="image/webp" />
        <img src="img/portfolio/3.png" alt="portfolio" />
      </picture>
    </li>
  </ul>
  <button class="portfolio__btn btn" type="button">Все работы</button>
</section>
