<section class="portfolio-page">
  <div class="portfolio-page__top">
    <h1 class="portfolio-page__title">Портфолио</h1>
    <p class="portfolio-page__text">
      Значимость этих проблем настолько очевидна, что рамки и место обучения
      кадров влечет за собой процесс внедрения и модернизации модели развития.
      Повседневная практика показывает, что дальнейшее развитие различных форм
      деятельности позволяет оценить значение модели развития.
    </p>
  </div>
  <div class="portfolio-page__box">
    <h2 class="portfolio-page__heading">Крупные объекты</h2>
    <ul class="portfolio-page__list">
      <li class="portfolio-page__item">
        <div class="portfolio-card">
          <div class="portfolio-card__top">
            <picture>
              <source srcset="img/portfolio/1.webp" type="image/webp" />
              <img src="img/portfolio/1.png" alt="portfolio-page" />
            </picture>
          </div>
          <div class="portfolio-card__body">
            <h3 class="portfolio-card__title">"Новая Москва"</h3>
            <p class="portfolio-card__text">
              Краткий текст, относительно данного проекта
            </p>

            <a class="portfolio-card__more" href="#">Подробнее</a>
          </div>
        </div>
      </li>
      <li class="portfolio-page__item">
        <div class="portfolio-card">
          <div class="portfolio-card__top">
            <picture>
              <source srcset="img/portfolio/2.webp" type="image/webp" />
              <img src="img/portfolio/2.png" alt="portfolio-page" />
            </picture>
          </div>
          <div class="portfolio-card__body">
            <h3 class="portfolio-card__title">"Западный луч"</h3>
            <p class="portfolio-card__text">
              Краткий текст, относительно данного проекта
            </p>

            <a class="portfolio-card__more" href="#">Подробнее</a>
          </div>
        </div>
      </li>
      <li class="portfolio-page__item">
        <div class="portfolio-card">
          <div class="portfolio-card__top">
            <picture>
              <source srcset="img/portfolio/3.webp" type="image/webp" />
              <img src="img/portfolio/3.png" alt="portfolio-page" />
            </picture>
          </div>
          <div class="portfolio-card__body">
            <h3 class="portfolio-card__title">"Атмосфера"</h3>
            <p class="portfolio-card__text">
              Краткий текст, относительно данного проекта
            </p>

            <a class="portfolio-card__more" href="#">Подробнее</a>
          </div>
        </div>
      </li>
      <li class="portfolio-page__item">
        <div class="portfolio-card">
          <div class="portfolio-card__top">
            <picture>
              <source srcset="img/portfolio/1.webp" type="image/webp" />
              <img src="img/portfolio/1.png" alt="portfolio-page" />
            </picture>
          </div>
          <div class="portfolio-card__body">
            <h3 class="portfolio-card__title">"Новая Москва"</h3>
            <p class="portfolio-card__text">
              Краткий текст, относительно данного проекта
            </p>

            <a class="portfolio-card__more" href="#">Подробнее</a>
          </div>
        </div>
      </li>
      <li class="portfolio-page__item">
        <div class="portfolio-card">
          <div class="portfolio-card__top">
            <picture>
              <source srcset="img/portfolio/2.webp" type="image/webp" />
              <img src="img/portfolio/2.png" alt="portfolio-page" />
            </picture>
          </div>
          <div class="portfolio-card__body">
            <h3 class="portfolio-card__title">"Западный луч"</h3>
            <p class="portfolio-card__text">
              Краткий текст, относительно данного проекта
            </p>

            <a class="portfolio-card__more" href="#">Подробнее</a>
          </div>
        </div>
      </li>
      <li class="portfolio-page__item">
        <div class="portfolio-card">
          <div class="portfolio-card__top">
            <picture>
              <source srcset="img/portfolio/3.webp" type="image/webp" />
              <img src="img/portfolio/3.png" alt="portfolio-page" />
            </picture>
          </div>
          <div class="portfolio-card__body">
            <h3 class="portfolio-card__title">"Атмосфера"</h3>
            <p class="portfolio-card__text">
              Краткий текст, относительно данного проекта
            </p>

            <a class="portfolio-card__more" href="#">Подробнее</a>
          </div>
        </div>
      </li>
      <li class="portfolio-page__item">
        <div class="portfolio-card">
          <div class="portfolio-card__top">
            <picture>
              <source srcset="img/portfolio/1.webp" type="image/webp" />
              <img src="img/portfolio/1.png" alt="portfolio-page" />
            </picture>
          </div>
          <div class="portfolio-card__body">
            <h3 class="portfolio-card__title">"Новая Москва"</h3>
            <p class="portfolio-card__text">
              Краткий текст, относительно данного проекта
            </p>

            <a class="portfolio-card__more" href="#">Подробнее</a>
          </div>
        </div>
      </li>
      <li class="portfolio-page__item">
        <div class="portfolio-card">
          <div class="portfolio-card__top">
            <picture>
              <source srcset="img/portfolio/2.webp" type="image/webp" />
              <img src="img/portfolio/2.png" alt="portfolio-page" />
            </picture>
          </div>
          <div class="portfolio-card__body">
            <h3 class="portfolio-card__title">"Западный луч"</h3>
            <p class="portfolio-card__text">
              Краткий текст, относительно данного проекта
            </p>

            <a class="portfolio-card__more" href="#">Подробнее</a>
          </div>
        </div>
      </li>
      <li class="portfolio-page__item">
        <div class="portfolio-card">
          <div class="portfolio-card__top">
            <picture>
              <source srcset="img/portfolio/3.webp" type="image/webp" />
              <img src="img/portfolio/3.png" alt="portfolio-page" />
            </picture>
          </div>
          <div class="portfolio-card__body">
            <h3 class="portfolio-card__title">"Атмосфера"</h3>
            <p class="portfolio-card__text">
              Краткий текст, относительно данного проекта
            </p>

            <a class="portfolio-card__more" href="#">Подробнее</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="portfolio-page__box">
    <h2 class="portfolio-page__heading">Застройщико коттеджных поселков</h2>
    <ul class="portfolio-page__list">
      <li class="portfolio-page__item">
        <div class="portfolio-card">
          <div class="portfolio-card__top">
            <picture>
              <source srcset="img/portfolio/4.webp" type="image/webp" />
              <img src="img/portfolio/4.png" alt="portfolio-page" />
            </picture>
          </div>
          <div class="portfolio-card__body">
            <h3 class="portfolio-card__title">“kutuzov hills”</h3>
            <p class="portfolio-card__text">
              Краткий текст, относительно данного проекта
            </p>

            <a class="portfolio-card__more" href="#">Подробнее</a>
          </div>
        </div>
      </li>
      <li class="portfolio-page__item">
        <div class="portfolio-card">
          <div class="portfolio-card__top">
            <picture>
              <source srcset="img/portfolio/5.webp" type="image/webp" />
              <img src="img/portfolio/5.png" alt="portfolio-page" />
            </picture>
          </div>
          <div class="portfolio-card__body">
            <h3 class="portfolio-card__title">“Князевкое”</h3>
            <p class="portfolio-card__text">
              Краткий текст, относительно данного проекта
            </p>

            <a class="portfolio-card__more" href="#">Подробнее</a>
          </div>
        </div>
      </li>
      <li class="portfolio-page__item">
        <div class="portfolio-card">
          <div class="portfolio-card__top">
            <picture>
              <source srcset="img/portfolio/6.webp" type="image/webp" />
              <img src="img/portfolio/6.png" alt="portfolio-page" />
            </picture>
          </div>
          <div class="portfolio-card__body">
            <h3 class="portfolio-card__title">“Династия”</h3>
            <p class="portfolio-card__text">
              Краткий текст, относительно данного проекта
            </p>

            <a class="portfolio-card__more" href="#">Подробнее</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
