<section class="project">
  <h1 class="project__title">Ресторан “L`eto”</h1>

  <div class="project__wrapper">
    <div class="project__img">
      <picture>
        <source srcset="img/portfolio/1.webp" type="image/webp" />
        <img src="img/portfolio/1.jpg" alt="" />
      </picture>
    </div>
    <div class="project__right">
      <span class="project__heading">Сделано:</span>
      <ul class="project__list">
        <li class="about-create__item">
          <div class="create-item create-item--ps">
            <span class="create-item__icon"></span>

            ПС. Пожарная сигнализация
          </div>
        </li>
        <li class="project__item">
          <div class="create-item create-item--eom">
            <span class="create-item__icon"></span>

            ЭОМ. Силовое электрооборудование и электроосвещение
          </div>
        </li>
        <li class="about-create__item">
          <div class="create-item create-item--ss">
            <span class="create-item__icon"></span>

            СС. Системы связи
          </div>
        </li>

        <li class="about-create__item">
          <div class="create-item create-item--en">
            <span class="create-item__icon"></span>
            ЭН. Наружное электроосвещение
          </div>
        </li>
      </ul>
    </div>
  </div>

  <section class="object">
    <h2 class="object__title">Объект</h2>

    <div class="object__text">
      <strong>Объект:</strong> ЖК “Сердце столицы”, д.Липки, КП "Медисон Парк"
      Срок проектирования: 65 рабочих дней
    </div>
    <div class="object__text">
      <strong>Стоимость проекта: </strong> 420 000 рублей.
    </div>
    <div class="object__text"><strong>Статус: </strong>Спроектировано</div>
    <div class="object__text">
      <strong>Особенности проекта: </strong>Здесь будет текст об особеннотях
      проекта. Здесь будет текст об особеннотях проекта. Здесь будет текст об
      особеннотях проекта. Здесь будет текст об особеннотях проекта. Здесь будет
      текст об особеннотях проекта.
    </div>
  </section>

  <section class="calculations">
    <h2 class="calculations__title">Документы</h2>
    <ul class="calculations__list">
      <li class="calculations__item">
        <a href="Школа_на_750_мест_по_улице_Толе_Би_и_Е71.pdf" download>
          <picture>
            <source srcset="img/docs/1.webp" type="image/webp" />
            <img
              class="calculations__img"
              src="img/docs/1.jpg"
              alt="calculations"
            />
          </picture>
        </a>
      </li>
      <li class="calculations__item">
        <a href="ЖК Сердце Столицы 3.pdf" download>
          <picture>
            <source srcset="img/docs/2.webp" type="image/webp" />
            <img
              class="calculations__img"
              src="img/docs/2.jpg"
              alt="calculations"
            />
          </picture>
        </a>
      </li>
      <li class="calculations__item">
        <a href="ЖК Туран Квартал А.pdf" download>
          <picture>
            <source srcset="img/docs/3.webp" type="image/webp" />
            <img
              class="calculations__img"
              src="img/docs/3.jpg"
              alt="calculations"
            />
          </picture>
        </a>
      </li>
      <!-- <li class="calculations__item" data-fancybox data-src="img/docs/4.jpg">
        <picture>
          <source srcset="img/docs/4.webp" type="image/webp" />
          <img
            class="calculations__img"
            src="img/docs/4.jpg"
            alt="calculations"
          />
        </picture>
      </li>
      <li class="calculations__item" data-fancybox data-src="img/docs/5.jpg">
        <picture>
          <source srcset="img/docs/5.webp" type="image/webp" />
          <img
            class="calculations__img"
            src="img/docs/5.jpg"
            alt="calculations"
          />
        </picture>
      </li> -->
    </ul>
  </section>
</section>
