<section class="project">
  <h1 class="project__title">Новая москва</h1>

  <div class="project__wrapper">
    <div class="project__img">
      <picture>
        <source srcset="img/portfolio/1.webp" type="image/webp" />
        <img src="img/portfolio/1.png" alt="" />
      </picture>
    </div>
    <div class="project__text">
      <p>
        Значимость этих проблем настолько очевидна, что рамки и место обучения
        кадров влечет за собой процесс внедрения и модернизации модели развития.
        Повседневная практика показывает, что дальнейшее развитие различных форм
        деятельности позволяет оценить значение модели развития.
      </p>
    </div>
  </div>

  <section class="task">
    <h2 class="task__title">Задача</h2>
    <div class="task__text">
      <p>
        Таким образом дальнейшее развитие различных форм деятельности
        представляет собой интересный эксперимент проверки системы обучения
        кадров, соответствует насущным потребностям. Равным образом новая модель
        организационной деятельности в значительной степени обуславливает
        создание систем массового участия. Значимость этих проблем настолько
        очевидна, что постоянный количественный рост и сфера нашей активности
        влечет за собой процесс внедрения и модернизации дальнейших направлений
        развития. Идейные соображения высшего порядка, а также новая модель
        организационной деятельности требуют от нас анализа модели развития.
        Таким образом консультация с широким активом позволяет выполнять важные
        задания по разработке соответствующий условий активизации. Не следует,
        однако забывать, что постоянный количественный рост и сфера нашей
        активности в значительной степени обуславливает создание существенных
        финансовых и административных условий.
      </p>

      <p>
        Разнообразный и богатый опыт новая модель организационной деятельности в
        значительной степени обуславливает создание новых предложений. Товарищи!
        новая модель организационной деятельности представляет собой интересный
        эксперимент проверки модели развития.
      </p>

      <p>
        С другой стороны новая модель организационной деятельности играет важную
        роль в формировании новых предложений. С другой стороны начало
        повседневной работы по формированию позиции позволяет оценить значение
        направлений прогрессивного развития. Значимость этих проблем настолько
        очевидна, что реализация намеченных плановых заданий обеспечивает
        широкому кругу (специалистов) участие в формировании дальнейших
        направлений развития.
      </p>
    </div>
  </section>

  <section class="calculations">
    <h2 class="calculations__title">Расчеты</h2>
    <ul class="calculations__list">
      <li class="calculations__item">
        <picture>
          <source srcset="img/calculations/1.webp" type="image/webp" />
          <img
            class="calculations__img"
            src="img/calculations/1.jpg"
            alt="calculations"
          />
        </picture>
      </li>
      <li class="calculations__item">
        <picture>
          <source srcset="img/calculations/2.webp" type="image/webp" />
          <img
            class="calculations__img"
            src="img/calculations/2.jpg"
            alt="calculations"
          />
        </picture>
      </li>
      <li class="calculations__item">
        <picture>
          <source srcset="img/calculations/3.webp" type="image/webp" />
          <img
            class="calculations__img"
            src="img/calculations/3.jpg"
            alt="calculations"
          />
        </picture>
      </li>
    </ul>
    <div class="calculations__text">
      <p>
        Разнообразный и богатый опыт новая модель организационной деятельности в
        значительной степени обуславливает создание новых предложений. Товарищи!
        новая модель организационной деятельности представляет собой интересный
        эксперимент проверки модели развития.
      </p>
      <p>
        С другой стороны новая модель организационной деятельности играет важную
        роль в формировании новых предложений. С другой стороны начало
        повседневной работы по формированию позиции позволяет оценить значение
        направлений прогрессивного развития. Значимость этих проблем настолько
        очевидна, что реализация намеченных плановых заданий обеспечивает
        широкому кругу (специалистов) участие в формировании дальнейших
        направлений развития.
      </p>
    </div>
  </section>

  <section class="performance">
    <h2 class="performance__title">Выполнение</h2>

    <ul class="performance__list">
      <li
        class="performance__item"
        data-fancybox
        data-src="img/performance/1.jpg"
      >
        <picture>
          <source srcset="img/performance/1.webp" type="image/webp" />
          <img
            class="performance__img"
            src="img/performance/1.jpg"
            alt="performance"
          />
        </picture>
      </li>
      <li
        class="performance__item"
        data-fancybox
        data-src="img/performance/2.jpg"
      >
        <picture>
          <source srcset="img/performance/2.webp" type="image/webp" />
          <img
            class="performance__img"
            src="img/performance/2.jpg"
            alt="performance"
          />
        </picture>
      </li>
      <li
        class="performance__item"
        data-fancybox
        data-src="img/performance/3.jpg"
      >
        <picture>
          <source srcset="img/performance/3.webp" type="image/webp" />
          <img
            class="performance__img"
            src="img/performance/3.jpg"
            alt="performance"
          />
        </picture>
      </li>
    </ul>
    <div class="performance__text">
      <p>
        Разнообразный и богатый опыт новая модель организационной деятельности в
        значительной степени обуславливает создание новых предложений. Товарищи!
        новая модель организационной деятельности представляет собой интересный
        эксперимент проверки модели развития.
      </p>
    </div>
  </section>
</section>
