<section class="services">
  <h1 class="services__title">Услуги</h1>
  <p class="services__text">
    Значимость этих проблем настолько очевидна, что рамки и место обучения
    кадров влечет за собой процесс внедрения и модернизации модели развития.
    Повседневная практика показывает, что дальнейшее развитие различных форм
    деятельности позволяет оценить значение модели развития.
  </p>

  <ul class="services__list">
    <li class="services__item">
      <div class="services-card">
        <div class="services-card__top">
          <picture>
            <source srcset="img/services/1.webp" type="image/webp" />
            <img
              width="50"
              height="50"
              src="img/services/1.png"
              alt="services"
            />
          </picture>
        </div>
        <div class="services-card__body">
          <h3 class="services-card__title">Проект под ключ</h3>

          <p class="services-card__text">
            Краткий текст, относительно данной услуги
          </p>
        </div>
      </div>
    </li>
    <li class="services__item">
      <div class="services-card">
        <div class="services-card__top">
          <picture>
            <source srcset="img/services/2.webp" type="image/webp" />
            <img
              width="50"
              height="50"
              src="img/services/2.png"
              alt="services"
            />
          </picture>
        </div>
        <div class="services-card__body">
          <h3 class="services-card__title">Расчет</h3>

          <p class="services-card__text">
            Краткий текст, относительно данной услуги
          </p>
        </div>
      </div>
    </li>
    <li class="services__item">
      <div class="services-card">
        <div class="services-card__top">
          <picture>
            <source srcset="img/services/3.webp" type="image/webp" />
            <img
              width="50"
              height="50"
              src="img/services/3.png"
              alt="services"
            />
          </picture>
        </div>
        <div class="services-card__body">
          <h3 class="services-card__title">Совет мастера</h3>

          <p class="services-card__text">
            Краткий текст, относительно данной услуги
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>
