<section class="services">
  <h1 class="services__title">Услуги</h1>
  <p class="services__text">
    Наша команда профессионально занимается проектированием инженерных систем
  </p>

  <div class="services__cols">
    <div class="services__col">
      <div class="about-create">
        <h3 class="about-create__title">Мы проектируем:</h3>
        <ul class="about-create__list">
          <li class="about-create__item">
            <a class="create-item create-item--eom" href="#">
              <span class="create-item__icon"></span>

              ЭОМ. Силовое электрооборудование и электроосвещение</a
            >
          </li>
          <li class="about-create__item">
            <a class="create-item create-item--ss" href="#">
              <span class="create-item__icon"></span>

              СС. Системы связи
            </a>
          </li>
          <li class="about-create__item">
            <a class="create-item create-item--ps" href="">
              <span class="create-item__icon"></span>

              ПС. Пожарная сигнализация
            </a>
          </li>
          <li class="about-create__item">
            <a class="create-item create-item--en" href="#">
              <span class="create-item__icon"></span>
              ЭН. Наружное электроосвещение
            </a>
          </li>
          <li class="about-create__item">
            <a class="create-item create-item--es" href="#">
              <span class="create-item__icon"></span>
              ЭС. Наружные сети электроснабжения
            </a>
          </li>
          <li class="about-create__item">
            <a class="create-item create-item--nss" href="#">
              <span class="create-item__icon"></span>
              НСС. Наружные сети связи
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="services__col">
      <h3>Какие объекты:</h3>
      <ul class="portfolio-tab__list">
        <li class="portfolio-tab__item">
          <button class="portfolio-tab__btn" type="button">
            <span class="portfolio-tab__btn-icon"></span>
            Жилые комплексы
          </button>
        </li>
        <li class="portfolio-tab__item">
          <button class="portfolio-tab__btn" type="button">
            <span class="portfolio-tab__btn-icon"></span>
            Спортивные комплексы
          </button>
        </li>
        <li class="portfolio-tab__item">
          <button class="portfolio-tab__btn" type="button">
            <span class="portfolio-tab__btn-icon"></span>Магазины
          </button>
        </li>
        <li class="portfolio-tab__item">
          <button class="portfolio-tab__btn" type="button">
            <span class="portfolio-tab__btn-icon"></span>Бизнес-центры
          </button>
        </li>
        <li class="portfolio-tab__item">
          <button class="portfolio-tab__btn" type="button">
            <span class="portfolio-tab__btn-icon"></span>Больницы
          </button>
        </li>
        <li class="portfolio-tab__item">
          <button class="portfolio-tab__btn" type="button">
            <span class="portfolio-tab__btn-icon"></span>
            Промышленные цеха
          </button>
        </li>
        <li class="portfolio-tab__item">
          <button class="portfolio-tab__btn" type="button">
            <span class="portfolio-tab__btn-icon"></span>Школы
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
