<section class="share">
  <h2 class="share__title">Понравилась статья? Поделись с друзьями</h2>
  <ul class="socials">
    <li class="socials__item">
      <a
        class="socials__link socials__link--instagram"
        href="#"
        target="_blank"
        aria-label="instagram"
      ></a>
    </li>
    <li class="socials__item">
      <a
        class="socials__link socials__link--youtube"
        href="#"
        target="_blank"
        aria-label="youtube"
      ></a>
    </li>
    <li class="socials__item">
      <a
        class="socials__link socials__link--vk"
        href="#"
        target="_blank"
        aria-label="vk"
      ></a>
    </li>
    <li class="socials__item">
      <a
        class="socials__link socials__link--ok"
        href="#"
        target="_blank"
        aria-label="ok"
      ></a>
    </li>
  </ul>
</section>
