<div class="side">
  <div class="side__inner">
    <div class="side-menu">
      <div class="side-menu__head side-head">Разделы</div>
      <ul class="side-menu__list">
        <li class="side-menu__item">
          <a class="side-menu__link" href="#">
            Силовое электрооборудование <span>(19)</span>
          </a>
        </li>
        <li class="side-menu__item">
          <a class="side-menu__link" href="#"
            >Электроосвещение <span>(12)</span></a
          >
        </li>
        <li class="side-menu__item">
          <a class="side-menu__link" href="#">
            Системы связи <span>(4)</span></a
          >
        </li>
        <li class="side-menu__item">
          <a class="side-menu__link" href="#"
            >Пожарная сигнализация <span>(2)</span></a
          >
        </li>
        <li class="side-menu__item">
          <a class="side-menu__link" href="#">BIM-электрика <span>(5)</span></a>
        </li>
        <li class="side-menu__item">
          <a class="side-menu__link" href="#"
            >Наружное электроосвещение <span>(14)</span></a
          >
        </li>
        <li class="side-menu__item">
          <a class="side-menu__link" href="#"
            >Наружные сети электроснабжения <span>(8)</span></a
          >
        </li>
      </ul>
    </div>

    <div class="side-author">
      <div class="side-author__head side-head">Об авторе</div>
      <div class="side-author__inner">
        <a class="side-author__top" href="about.html">
          <picture>
            <source srcset="img/author.webp" type="image/webp" />
            <img class="side-author__img" src="img/author.jpg" alt="author" />
          </picture>
          <span class="side-author__name">Бердыгалиев Кайрат</span>
        </a>
        <div class="side-author__descr">
          <span class="side-author__prof">Инженер-электрик </span>
          <span>
            Успешно проектирую <br />
            с 2015 года
          </span>
        </div>
        <div class="side-author__contacts">
          <a class="side-author__phone" href="tel:+77750940108">
            +7 (775) 094 01 08
          </a>
          <a class="side-author__mail" href="mailto:berdygaliyev@mail.ru ">
            berdygaliyev@mail.ru
          </a>
          <span>ежедневно с 9 до 21 часа</span>
        </div>
        <button class="side-author__btn btn order-project" type="button">
          Заказать проект
        </button>
      </div>
    </div>

    <div class="side-banner">Рекламный баннер</div>

    <div class="side-popular">
      <div class="side-author__head side-head">Популярное</div>

      <ul class="side-popular__list">
        <li class="side-popular__item">
          <article class="popular-card">
            <a class="popular-card__left" href="#">
              <picture>
                <source srcset="img/hero/1.webp" type="image/webp" />
                <img src="img/hero/1.jpg" alt="news" />
              </picture>
            </a>
            <div class="popular-card__right">
              <h3 class="popular-card__title">
                <a href="#">
                  Здесь будет заголовок статьи ссылкой на страницу статьи
                </a>
              </h3>
            </div>
            <div class="popular-card__views">Просмотров: 800</div>
          </article>
        </li>
        <li class="side-popular__item">
          <article class="popular-card">
            <a class="popular-card__left" href="#">
              <picture>
                <source srcset="img/hero/1.webp" type="image/webp" />
                <img src="img/hero/1.jpg" alt="news" />
              </picture>
            </a>
            <div class="popular-card__right">
              <h3 class="popular-card__title">
                <a href="#">
                  Здесь будет заголовок статьи ссылкой на страницу статьи
                </a>
              </h3>
            </div>
            <div class="popular-card__views">Просмотров: 800</div>
          </article>
        </li>
        <li class="side-popular__item">
          <article class="popular-card">
            <a class="popular-card__left" href="#">
              <picture>
                <source srcset="img/hero/1.webp" type="image/webp" />
                <img src="img/hero/1.jpg" alt="news" />
              </picture>
            </a>
            <div class="popular-card__right">
              <h3 class="popular-card__title">
                <a href="#">
                  Здесь будет заголовок статьи ссылкой на страницу статьи
                </a>
              </h3>
            </div>
            <div class="popular-card__views">Просмотров: 800</div>
          </article>
        </li>
        <li class="side-popular__item">
          <article class="popular-card">
            <a class="popular-card__left" href="#">
              <picture>
                <source srcset="img/hero/1.webp" type="image/webp" />
                <img src="img/hero/1.jpg" alt="news" />
              </picture>
            </a>
            <div class="popular-card__right">
              <h3 class="popular-card__title">
                <a href="#">
                  Здесь будет заголовок статьи ссылкой на страницу статьи
                </a>
              </h3>
            </div>
            <div class="popular-card__views">Просмотров: 800</div>
          </article>
        </li>
        <li class="side-popular__item">
          <article class="popular-card">
            <a class="popular-card__left" href="#">
              <picture>
                <source srcset="img/hero/1.webp" type="image/webp" />
                <img src="img/hero/1.jpg" alt="news" />
              </picture>
            </a>
            <div class="popular-card__right">
              <h3 class="popular-card__title">
                <a href="#">
                  Здесь будет заголовок статьи ссылкой на страницу статьи
                </a>
              </h3>
            </div>
            <div class="popular-card__views">Просмотров: 800</div>
          </article>
        </li>
        <li class="side-popular__item">
          <article class="popular-card">
            <a class="popular-card__left" href="#">
              <picture>
                <source srcset="img/hero/1.webp" type="image/webp" />
                <img src="img/hero/1.jpg" alt="news" />
              </picture>
            </a>
            <div class="popular-card__right">
              <h3 class="popular-card__title">
                <a href="#">
                  Здесь будет заголовок статьи ссылкой на страницу статьи
                </a>
              </h3>
            </div>
            <div class="popular-card__views">Просмотров: 800</div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</div>
