<section class="some-projects">
  <h2 class="some-projects__title">Похожие проекты</h2>

  <ul class="some-projects__list">
    <li class="some-projects__item">
      <div class="portfolio-card">
        <h3 class="portfolio-card__title">
          <a href="#"> ЖК “Сердце Столицы” </a>
        </h3>
        <div class="portfolio-card__inner">
          <a class="portfolio-card__left" href="#">
            <picture>
              <source srcset="img/portfolio/1.webp" type="image/webp" />
              <img src="img/portfolio/1.jpg" alt="portfolio" />
            </picture>
          </a>
          <div class="portfolio-card__right">
            <div class="portfolio-card__info">
              <span class="portfolio-card__did">Сделано</span>

              <img src="img/create/3.svg" alt="create" />

              <span>ПС. Пожарная сигнализация</span>
            </div>

            <a class="portfolio-card__more" href="#">Подробнее о проекте</a>
          </div>
        </div>
      </div>
    </li>
    <li class="some-projects__item">
      <div class="portfolio-card">
        <h3 class="portfolio-card__title">
          <a href="#"> Кафе “У тети Маши” </a>
        </h3>
        <div class="portfolio-card__inner">
          <a class="portfolio-card__left" href="#">
            <picture>
              <source srcset="img/portfolio/2.jpg" type="image/webp" />
              <img src="img/portfolio/2.jpg" alt="portfolio" />
            </picture>
          </a>
          <div class="portfolio-card__right">
            <div class="portfolio-card__info">
              <span class="portfolio-card__did">Сделано</span>

              <img src="img/create/2.svg" alt="create" />

              <span>СС. Системы связи</span>
            </div>

            <a class="portfolio-card__more" href="#">Подробнее о проекте</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
