<section class="some-projects">
  <h2 class="some-projects__title">Похожие проекты</h2>

  <ul class="some-projects__list">
    <li class="some-projects__item">
      <div class="portfolio-card">
        <a class="portfolio-card__top" href="#">
          <picture>
            <source srcset="img/portfolio/4.webp" type="image/webp" />
            <img src="img/portfolio/4.png" alt="portfolio-page" />
          </picture>
        </a>
        <div class="portfolio-card__body">
          <h3 class="portfolio-card__title"><a href="#">“kutuzov hills”</a></h3>
          <p class="portfolio-card__text">
            Краткий текст, относительно данного проекта
          </p>

          <a class="portfolio-card__more" href="#">Подробнее</a>
        </div>
      </div>
    </li>
    <li class="some-projects__item">
      <div class="portfolio-card">
        <a class="portfolio-card__top" href="#">
          <picture>
            <source srcset="img/portfolio/5.webp" type="image/webp" />
            <img src="img/portfolio/5.png" alt="portfolio-page" />
          </picture>
        </a>
        <div class="portfolio-card__body">
          <h3 class="portfolio-card__title"><a href="#">“Князевкое”</a></h3>
          <p class="portfolio-card__text">
            Краткий текст, относительно данного проекта
          </p>

          <a class="portfolio-card__more" href="#">Подробнее</a>
        </div>
      </div>
    </li>
    <li class="some-projects__item">
      <div class="portfolio-card">
        <a class="portfolio-card__top" href="#">
          <picture>
            <source srcset="img/portfolio/6.webp" type="image/webp" />
            <img src="img/portfolio/6.png" alt="portfolio-page" />
          </picture>
        </a>
        <div class="portfolio-card__body">
          <h3 class="portfolio-card__title"><a href="#">“Династия”</a></h3>
          <p class="portfolio-card__text">
            Краткий текст, относительно данного проекта
          </p>

          <a class="portfolio-card__more" href="#">Подробнее</a>
        </div>
      </div>
    </li>
  </ul>
</section>
